#options {
    margin: 10px;
}

input {
    margin-bottom: 5px;
}

.response-container {
    height: 25px;
}

.success {
    color: green;
}

.error {
    color: red;
}

/*
#youtube-link-options {
    display: none;
}*/

#wizard-finish {
    display: none;
}